//= partials/_header.html

<div class="blog row">
    <aside class="left col-sm-9">
        <article>
            <img src="img/fight.jpg" class="img-responsive" alt="Responsive image">
            <h2 class="title">Война между Microsoft и Apple не заканчивается!!!</h2>
            <div class="text">
                <p>Microsoft выпустила свой первый ноутбук Surface Book Microsoft переплюнула даже знаменитый ноутбук от Apple? – Решать только Вам!!! Компания Microsoft уже выпускает планшеты и смартфоны несколько лет, но теперь представили супер новый ноутбук.</p>
                <p>Surface Book – это 13,5-дюймовый ноутбук с сенсорным дисплеем, процессорами Intel Skylake Core i5 или i7, графикой NVIDIA GeForce, 8 или 16.</p>
            </div>

            <ul class="list-inline date social">
                <li>14.12.2016</li>
                <li>12:16</li>
                <li><a href="#"><span class="ico-vkontakte"></span> 14</a></li>
                <li><a href="#"><span class="ico-facebook"></span> 12</a></li>
                <li><a href="#"><span class="ico-twitter"></span> 20</a></li>
                <li><a href="#"><span class="ico-google"></span> 16</a></li>
                <li><a href="#"><span class="ico-youtube"></span> 1</a></li>
            </ul>
        </article>

        <article>
            <img src="img/mouse.jpg" class="img-responsive" alt="Responsive image">
            <h2 class="title">Если Вы не оценили всю мощь и крутость этой мыши то просто не имеете права называть себя
                геймером!</h2>
            <div class="text">
                <p>
                    Игровая мышь Cougar 700M eSports от компания Cougar покорила не одного любителя и даже профи! Модель
                    обладает более удобным для хвата покрытием, на корпусе расположены многочисленные клавиши для
                    макросов и использования умений.
                    Эта мышка просто создана индивидуально для ВАС! Внутри есть отсек с грузиками, благодаря которым вы
                    можете настроить вес грызуна под себя лично.
                </p>
            </div>

            <ul class="list-inline date social">
                <li>14.12.2016</li>
                <li>12:16</li>
                <li><a href="#"><span class="ico-vkontakte"></span> 14</a></li>
                <li><a href="#"><span class="ico-facebook"></span> 12</a></li>
                <li><a href="#"><span class="ico-twitter"></span> 20</a></li>
                <li><a href="#"><span class="ico-google"></span> 16</a></li>
                <li><a href="#"><span class="ico-youtube"></span> 1</a></li>
            </ul>
        </article>

        <article>
            <h2 class="title">Мультимедийный центр прям у Вас на столе когда Вы пьёте свой кофе</h2>
            <div class="text">
                <p>
                    Компания Lenovo представляет на российском рынке новый компактный и стильный моноблок IdeaCentre
                    B310, оптимизированный для просмотра фильмов, игр, музыки и общения с друзьями онлайн.<br>
                    «IdeaCentre B310 предлагает потребителям высокий уровень производительности и множество мультимедиа
                    функций - отметил Бай Юйли (Bai Yuli), генеральный директор компании Lenovo в России.
                    Новый моноблок может использоваться всей семьей как для работы, так и для учебы и развлечений».
                </p>
                <p>
                    В IdeaCentre B310 реализованы технологии и решения, сопоставимые по производительности с
                    традиционными десктопами. Моноблок поставляется с процессорами Intel Core i3 и i5, высокоскоростной
                    оперативной памятью DDR3 объемом до 4 гигабайт и жестким дискам до 1 терабайта.<br>
                    IdeaCentre B310 оснащен широкоформатным Full HD дисплеем с диагональю 21,5 дюйма и поддерживает
                    технологию Lenovo NaturalTouch, которая гарантирует комфортное управление мультимедийными функциями
                    без использования клавиатуры и мыши.
                </p>
                <p>
                    IdeaCentre B310 может комплектоваться беспроводными Bluetooth-клавиатурой и мышью, а также
                    обеспечивает скоростную передачу данных в сетях Wi-Fi 802.11n. Встроенная подставка оснащена
                    специальным держателем для кабелей и позволяет изменять угол наклона экрана до 35 градусов.<br>
                    Для быстрого подключения устройств, на боковой панели моноблока предусмотрены разъемы USB, FireWire
                    и универсальный кард-ридер. В зависимости от конфигурации, B310 может оснащаться встроенным
                    ТВ-приемником.<br>
                    Помимо этого, моноблок оснащен веб-камерой повышенной чувствительности, обеспечивающей качественное
                    изображение даже при плохом освещении.
                </p>
            </div>

            <ul class="list-inline date social">
                <li>14.12.2016</li>
                <li>12:16</li>
                <li><a href="#"><span class="ico-vkontakte"></span> 14</a></li>
                <li><a href="#"><span class="ico-facebook"></span> 12</a></li>
                <li><a href="#"><span class="ico-twitter"></span> 20</a></li>
                <li><a href="#"><span class="ico-google"></span> 16</a></li>
                <li><a href="#"><span class="ico-youtube"></span> 1</a></li>
            </ul>
        </article>

        <article>
            <img src="img/camera.jpg" class="img-responsive" alt="Responsive image">
            <h2 class="title">Умная камера для живущих в сети</h2>
            <div class="text">
                <p>
                    Стремление человека фиксировать все, что его окружает, причем не просто в памяти, а, по возможности,
                    в форме фото, видео или текста, в эру интернета стало одной из главных движущих сил прогресса.
                    Смартфоны, камеры, облачные сервисы, социальные сети... Благодаря этой тенденции Instagram при всей
                    своей минимальной информативности сделался одной из главных форм контакта человека, активного во
                    Всемирной Паутине, с окружающим миром — несмотря на невысокое до сих пор качество встроенных камер.
                    Многих устраивает и оно, но для тех, кого не устраивает, уже появляются альтернативные предложения:
                    вспоминаем первые камеры на Android (Nikon S800c, Samsung GALAXY Camera и уже анонсированную
                    беззеркалку Samsung GALAXY NX), первые смартфоны с оптическим зумом (например, Samsung GALAXY S4
                    Zoom); почти все новые камеры оснащаются модулем Wi-Fi для мгновенной беспроводной передачи данных
                    на сопутствующие устройства. А сегодня мы поговорим о камере, как раз созданной в качестве
                    компаньона для вашего смартфона — Canon PowerShot N.
                </p>
                <p>
                    Это одна из самых маленьких в мире камер, при том, что оснащена она достаточно стандартной связкой
                    из 1/2,3-дюймового сенсора и объектива с 8-кратным зумом; плюс сенсорный откидной экран, модуль
                    Wi-Fi и необычная система управления с кнопкой спуска на диске, окантовывающем объектив. Ничего
                    революционного, но по совокупности характеристик это одна из самых оригинальных фотокамер на данный
                    момент. Впервые она была представлена на выставке CES 2013.
                </p>
            </div>

            <ul class="list-inline date social">
                <li>14.12.2016</li>
                <li>12:16</li>
                <li><a href="#"><span class="ico-vkontakte"></span> 14</a></li>
                <li><a href="#"><span class="ico-facebook"></span> 12</a></li>
                <li><a href="#"><span class="ico-twitter"></span> 20</a></li>
                <li><a href="#"><span class="ico-google"></span> 16</a></li>
                <li><a href="#"><span class="ico-youtube"></span> 1</a></li>
            </ul>
        </article>

    </aside>

    <aside class="right col-sm-3">
        <form class="search" name="search" action="blog.html" method="post">
            <input type="text" id="search" name="search" value="">
            <button type="submit" id="btn-search">
                <span class="ico-search"></span>
            </button>
        </form>

        <dl>
            <dt>Самые свежие записи</dt>
            <dd><a href="#">Война между Microsoft и Apple не заканчивается</a></dd>
            <dd><a href="#">Если Вы не оценили всю мощь и крутость этой</a></dd>
            <dd><a href="#">Мультимедийный центр прям у Вас на столе</a></dd>
            <dd><a href="#">Уют и покой в нашем мире редкий спутник</a></dd>
            <dd><a href="#">Умная камера для живущих в сети</a></dd>
            <dd><a href="#">Эко товары</a></dd>
            <dd><a href="#">Наше первое видео на канале YouTube</a></dd>
            <dd><a href="#">С нашей помощью начал работу первый</a></dd>
        </dl>
    </aside>
</div>

//= partials/_footer.html