//= partials/_header.html

    <section class="goods presentation">
        <h1 class="title">Товары наших клиентов</h1>
        <strong class="description">В этом разделе находятся товары, которые люди продают с нашей помощью. С сайта ничего купить не возможно, нужно переходить по ссылке с картинки</strong>

        //= partials/pg-goods/appliances.html
        //= partials/pg-goods/alert.html
        //= partials/pg-goods/womans-fashion.html
        //= partials/pg-goods/mens-fashion.html
        //= partials/pg-goods/miscellaneous.html

    </section>

//= partials/_footer.html