.eshop {

  .title {
    a.small {
      @extend a;
      font-family: $font-family-sans-serif;
      font-weight: bold !important;
    }
  }

  .item {
    .lead {
      margin: 25px 0 0 0;
      font-family: $font-family-sans-serif;
      line-height: 1.3;
    }
    .price {
      @include clearfix;
      //display: block;
      font-family: $font-family-ascended;
      font-size: 30px;
      line-height: .8;
    }
    .clear {
      margin-bottom: 15px;
    }
  }


  // MEDIA QUERIES

  //767
  @media (max-width: $screen-sm - 1) {
    .title {
      text-align: center;
      a.small {
        @include clearfix;
        //margin-top: 10px;
        //display: inline-block;
      }
    }

    .item {
      margin-bottom: 60px;
      text-align: center;

      .lead {
        //font-size: 4vw;
        font-size: 24px;
      }

      img {
        width: 340px;
        margin: 0 auto;
      }
      //.pull-left, .pull-right {
      //  float: none !important;
      //}
    }
  }

  //768px
  @media (min-width: $screen-sm) {
    .title {
      text-align: center;
      a.small {
        @include clearfix;
        font-size: $font-size-large;
        font-weight: normal;
      }
    }

    .row+.row{
      margin-top: 100px;
      //.item & {
      //  margin-bottom: 15px;
      //}
    }
  }

  //992px
  @media (min-width: $screen-md) {
    .title {
      a.small {
        float: right;
        margin-top: 10px;
        font-size: $font-size-base;
        font-weight: normal;
      }
    }
  }

  //1200px
  @media (min-width: $screen-lg) {
  }


}//.presentation

//.eshop {
//
//  & h1, & h2 {
//    margin: 0;
//  }
//
//  h2 {
//    position: relative;
//
//    a {
//      float: right;
//      display: block;
//      //font: bold 16px 'Anselm Sans', sans-serif;
//      font-family: $font-family-base;
//      font-weight: bold;
//      font-size: 16px;
//      text-decoration: none;
//      border-bottom: 1px dashed #0297ff;
//    }
//  }
//
//  h3 {
//    display: block;
//    margin: 0;
//    //font: normal 23px/30px 'Anselm Sans', sans-serif;
//    //font: normal 28px/48px 'Anselm Sans', sans-serif;
//    font-family: $font-family-base;
//    font-weight: normal;
//    font-size: 23px;
//    line-height: 30px;
//  }
//
//  a {
//    &:hover {
//      border-color: transparent;
//    }
//    > img {
//      margin: 0 auto 10px;
//      border: 1px solid #ebebeb
//    }
//  }
//
//  small {
//    display: block;
//  }
//
//  strong {
//    display: block;
//    //font: normal 30px/48px 'Roboto Slab', sans-serif;
//    font-family: $font-family-ascended;
//    font-weight: normal;
//    font-size: 30px;
//    line-height: 48px;
//  }
//
//  .row + .row {
//    //margin-top: 100px;
//  }
//
//  [class^="col-"] {
//    padding-top: 40px;
//  }
//
//  @media (max-width: 767px) {
//    [class^="col-"], h2 {
//      text-align: center;
//    }
//
//    .row+.row, .col-sm-6+.col-sm-6 {
//      //margin-top: 60px;
//    }
//
//    h2 a {
//      float: none;
//      display: inline;
//      font-size: 21px;
//    }
//
//    .col-sm-7+.col-sm-5 {
//      //margin-top: 60px;
//    }
//
//    .pull-left,
//    .pull-right {
//      float: none;
//      display: inline;
//      width: 100%;
//      text-align: center;
//    }
//
//    a img {
//      max-height: 360px;
//    }
//
//  }
//
//  @media (min-width: 992px) {
//    h1, h2 {
//      margin-bottom: 35px;
//    }
//  }
//
//}
