body {
  padding-top: 10px;
}

//.title { font-family: $font-family-ascended; }

h1, .h1, h2, .h2, h3, .h3,
h4, .h4, h5, .h5, h6, .h6 {
  font-family: $font-family-ascended;
}

section {
  @include clearfix();

  + section {
    margin-top: 80px;
  }
}

a {
  &.dashed {
    text-decoration: none;
    border-bottom: 1px dashed $link-color;
    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
}

img {
  //-webkit-transition: opacity .2s;
  //-moz-transition: opacity .2s;
  //-o-transition: opacity .2s;
  transition: opacity .2s;
  a &:hover {
    opacity: .7;
  }
}

svg {
  &.centered {
    margin-left: auto;
    margin-right: auto;
  }
}

section {
  .title {
    + .description {
      display: inline-block;
      font-weight: normal;
    }
  }
  .illustration {
    display: block;
    margin: 0 auto 20px auto;
    width: 100%;
    max-height: 220px;
  }
}

//.popup {
//  position: fixed;
//  z-index: 2000;
//  top: 2%;
//  right: 2%;
//  bottom: 2%;
//  left: 2%;
//  background-color: #fff;
//  padding: 8vw;
//}

.premium,
.presentation.buy,
.exact-choice .title,
.exact-choice .title+.description,
.smart-search .title,
.smart-search .title+.description,
.additional .title,
.dealers .title,
.works-with .title,
.sale.presentation .title,
.sale.presentation .description,
.how-it-works,
.goods.presentation .title,
.goods.presentation .title+.description {
  text-align: center;
}

.works-with {
  .row {
    position: relative;
  }
}
.goods .item,
.goods .alert,
.table-wrap {
  margin-bottom: $margin-lg;
}


@media (max-width: 370px) {
  .additional {
    .hidden-xxs {
      display: none;
    }
    .title {
      span:not(.hidden-xxs):after {
        display: inline-block !important;
        content: '.';
      }
    }
  }
}

@media (max-width: 359px) {
  .dealers td:first-child {
    display: none;
  }
}



// <= 340px
@media (max-width: $screen-xs - 140px) {
  // h1, h2, h3, h4, h5, h6
  //@include typography-heads(xs);

}

// >= 480px
@media (min-width: $screen-xs) {

  section {
    .title {
      font-size: $font-size-title-xs;
      //font-size: 48px;
      //font-size: 5.235vw;
      //margin-bottom: 70px;

      + .description {
        font-size: $font-size-lead-xs;
      }
    }
  }

}

// <= 767px
@media (max-width: $screen-sm - 1) {
  small, .small {
    font-size: 100%;
  }


  section {
    .illustration {
      width: calc(100% + 30px);
      margin-left: -15px;
      margin-right: -15px;
    }
    //.illustration {
    //  //max-height: 190px;
    //  width: 600px;
    //}
    .title {
      font-size: $font-size-title-xs;
      + .description {
        font-size: $font-size-lead-xs;
      }
    }
    + section {
      margin-top: 100px;
    }

    &.presentation.sale {
      text-align: center;
    }

    &.presentation.sale,
    &.presentation.buy,
    &.exact-choice,
    &.smart-search {
      .title {
        margin-bottom: $margin-xs;
        + .description {
          margin-bottom: $margin-sm;
        }
      }
    }

    &.works-with,
    &.premium {
      .title {
        margin-bottom: $margin-xs;
        + .description {
          margin-bottom: $margin-sm;
        }
      }
    }

    &.how-it-works,
    &.dealers,
    &.news-blog,
    &.additional {
      .title {
        margin-bottom: $margin-md;
      }
    }

    &.presentation.boxes,
    &.eshop {
      .title {
        margin-bottom: $margin-lg;
      }
    }

    &.exact-choice,
    &.smart-search {
      text-align: center;
      p.small a {
        @include clearfix();
      }
      dl.small {
        dt, dd {
          margin-bottom: 8px;
        }
      }
    }

  }//section


  .goods .item figcaption {
    display: block;
    margin-top: $margin-xs;
  }

  .table-wrap {
    display: block;
    .btn {
      margin-bottom: 15px;
    }
  }

}// <= 767px


// >= 768px
@media (min-width: $screen-sm) {
  body {
    padding-top: 60px;
  }

  // h1, h2, h3, h4, h5, h6
  @include typography-heads(sm);

  section {
    // TITLES & DESCRIPTIONS FONT SIZE
    .title {
      font-size: $font-size-title-sm;
      + .description {
        font-size: $font-size-lead-sm;
      }
    }

    // TITLE MARGINS (x-small)
    &.premium,
    &.presentation.buy,
    &.exact-choice,
    &.smart-search {
      .title {
        margin-bottom: $margin-xs;
      }
    }

    // TITLE MARGINS (middle)
    &.additional,
    &.presentation.boxes,
    &.eshop,
    &.dealers,
    &.news-blog,
    &.additional {
      .title {
        margin-bottom: $margin-md;
      }
    }

    //&.how-it-works {
    //  .title {
    //    margin-bottom: $margin-md;
    //  }
    //}

    // DESCRIPTION MARGINS (small)
    &.exact-choice,
    &.smart-search,
    &.premium,
    &.goods.presentation,
    &.sale.presentation {
      .description {
        margin-bottom: $margin-sm;
      }
    }

    // DESCRIPTION MARGINS (large)
    &.presentation.buy {
      .description {
        margin-bottom: $margin-lg;
      }
    }

    // ANOTHER MARGINS
    &.goods .alert .item {
      margin-bottom: $margin-sm;
    }

    // Fixing long-text break line
    &.presentation.buy {
      .factoids-pics {
        .item a {
          word-spacing: 24px;
        }
      }
    }

    &.exact-choice,
    &.smart-search {
      text-align: center;
    }

    //.illustration {
    //  margin: 0 auto 20px auto;
    //}
  }


  .goods .item figcaption {
    display: block;
    margin-top: $margin-sm;
    font-size: 16px;
    line-height: 1.6;
  }

  .table-wrap {
    display: table;
    vertical-align: middle;
    .btn {
      padding: 14px 0 18px;
      width: 500px;
      height: 104px;
      font-size: 48px;
      margin-right: 22px;
    }
    i {
      font-size: 16px;
    }
    dt, dd {
      display: table-cell;
      vertical-align: middle;
    }
  }

}


// >= 992px
@media (min-width: $screen-md) {

  // h1, h2, h3, h4, h5, h6
  @include typography-heads(md);

  section {
    .illustration {
      //max-height: 190px;
      width: 600px;
    }
    .title {
      font-size: $font-size-title-md;
      //font-size: 60px;

      +.description {
        font-size: $font-size-lead-md;
      }
    }
    + section {
      margin-top: 150px;
    }

    &.presentation.buy,
    &.exact-choice,
    &.smart-search {
      .title {
        margin-bottom: $margin-xs;
        + .description {
          margin-bottom: $margin-md;
        }
      }
    }

    &.how-it-works,
    &.works-with,
    &.premium {
      .title {
        margin-bottom: $margin-sm;
        + .description {
          margin-bottom: $margin-sm;
        }
      }
    }

    &.dealers,
    &.news-blog,
    &.additional {
      .title {
        margin-bottom: $margin-md;
      }
    }

    &.presentation.boxes,
    &.eshop {
      .title {
        margin-bottom: $margin-lg;
      }
    }

    &.sale.presentation .description {
      margin-bottom: $margin-md;
    }

    // Fixing long-text break line
    &.presentation.buy {
      .factoids-pics {
        .item a {
          word-spacing: 0;
        }
      }
    }

    &.exact-choice,
    &.smart-search {
      .col-md-4 {
        text-align: left;
      }
    }

    // hacks
    &.exact-choice,
    &.smart-search {
      .col-md-8 {
        a.small {
          margin-left: 52px;
        }
      }
      .col-md-4 {
        padding-top: 12px;
        padding-left: 6.5%;
        p {
          line-height: 1.5;
        }
        dt, dd {
          margin-bottom: 2px;
        }
      }
    }

  }//section


  .goods {
    .alert {
      text-align: left;
      strong {
        font-size: 24px;
        font-weight: normal;
      }
    }
  }

  .works-with table {
    margin: 0;
  }

  .table-wrap {
    display: table;
    vertical-align: middle;
    .btn {
      padding: 14px 0 21px;
      width: 600px;
      height: 120px;
      font-size: 60px;
      margin-right: 22px;
    }
    i {
      font-size: 16px;
    }
    dt, dd {
      display: table-cell;
      vertical-align: middle;
    }
  }

}

// >= 1200px
@media (min-width: $screen-lg) {
  //
}

