$margin-xs: 18px;
$margin-sm: 36px;
$margin-md: 48px;
$margin-lg: 60px;
//$margin-xs: 15px;
//$margin-sm: floor($margin-xs * 1.6);
//$margin-md: floor($margin-sm * 1.6);
//$margin-lg: floor($margin-md * 2);

$font-size-title-xs: 36px;
$font-size-title-sm: 48px;
$font-size-title-md: 60px;
$font-size-title-lg: $font-size-title-md;

$font-size-lead-xs: 21px;
$font-size-lead-sm: 24px;
$font-size-lead-md: 28px;
$font-size-lead-lg: $font-size-lead-md;