<!-- APPLIANCES -->

<div class="row">
    <div class="item col-sm-12">
        <figure class="row">
            <a href="#" class="col-md-9"><img src="img/headphones.jpg" class="img-responsive img-rounded" alt="Responsive image"></a>
            <figcaption class="col-md-3 text">Kingston HyperX Cloud Revolver (HX-HSCR-BK/EE). 12 - 28000 Гц; 30 Ом; 500 мВт; 1 x mini-jack 3.5 мм</figcaption>
        </figure>
    </div>

    <figure class="item col-sm-4 col-md-6">
        <a href="#"><img src="img/bicycle.jpg" class="img-responsive img-rounded" alt="Bike"></a>
        <figcaption class="text">Premier Vapor. Горный хардтейл; Диаметр колеса 26; Рама 17; Скоростей 21; 7-скоростная кассета</figcaption>
    </figure>

    <figure class="item col-sm-4 col-md-3">
        <a href="#"><img src="img/backpack2.jpg" class="img-responsive img-rounded" alt="Backpack"></a>
        <figcaption class="text">RedPoint Daypack. 25 л; 0.8400 кг; полиэстер 300D; 30×17×46 см</figcaption>
    </figure>

    <figure class="item col-sm-4 col-md-3">
        <a href="#"><img src="img/guitar.jpg" class="img-responsive img-rounded" alt="Guitar"></a>
        <figcaption class="text">Hohner HC06. 19 ладов; 6 струн; мензура: 650.00; ель, палисандр, катальпа</figcaption>
    </figure>
</div>

