<!-- MEN's FASHION -->

<div class="row">
    <figure class="item col-sm-9">
        <a href="#"><img src="img/mans-set.jpg" class="img-responsive img-rounded" alt="Responsive image"></a>
        <figcaption class="text">Джентельменский набор шоумена от дизайнера Андре Танa. Рубашка, брюки, ремень, пиджак, платок, туфли</figcaption>
    </figure>

    <figure class="item col-sm-3">
        <a href="#"><img src="img/mans-tie.jpg" class="img-responsive img-rounded" alt="Responsive image"></a>
        <figcaption class="text">Галстук бабочка FWG 7-53, Милан, Италия; Красная в белый горошек; полиэстер; для шоумена, аниматора</figcaption>
    </figure>
</div>

<div class="row">
    <figure class="item col-sm-4">
        <a href="#"><img src="img/mans-watches.jpg" class="img-responsive img-rounded" alt="Responsive image"></a>
        <figcaption class="text">TIMEX Tx2n677; Easy Reader Original. 42×42×9мм; кварцевый; латунь; Водонепроницаемость 30м</figcaption>
    </figure>

    <figure class="item col-sm-4">
        <a href="#"><img src="img/mans-bag.jpg" class="img-responsive img-rounded" alt="Responsive image"></a>
        <figcaption class="text">BeGo 1004LB. Песочный; Кожа, мешковина; 1.21кг; 38×10×30.5см</figcaption>
    </figure>

    <figure class="item col-sm-4">
        <a href="#"><img src="img/pen.jpg" class="img-responsive img-rounded" alt="Responsive image"></a>
        <figcaption class="text">Parker Sonnet 08 Mono Chiselled Chocolate GT BP. Чернильная; латунь; позолота</figcaption>
    </figure>
</div>

