<!-- Miscellaneous -->

<div class="row">
    <div class="col-sm-2">
        <p>H&M 31857 18см. Керамика; Ø горлышка: 2см; Ø низа: 12см</p>
    </div>
    <div class="item col-sm-4">
        <a href="#"><img src="img/vase.jpg" class="img-responsive img-rounded" alt="Responsive image"></a>
    </div>
    <div class="item col-sm-4">
        <a href="#"><img src="img/flask.jpg" class="img-responsive img-rounded" alt="Responsive image"></a>
    </div>
    <div class="col-sm-2">
        <p>Фляга СССР. зеленый; алюминий; чехол; объем 0,8л; вес 146гр</p>
    </div>
</div>

