<!-- WOMAN's FASHION -->

<div class="row">
    <figure class="item col-sm-3">
        <a href="#"><img src="img/woman-shoe.jpg" class="img-responsive img-rounded" alt="Responsive image"></a>
        <figcaption class="text">Carlo Pazolini IS-X5121-5 39. Материал подошвы: Тунит; Материал верха: Велюр; Материал подкладки: Комбинированный; Высота каблука: Выше 71 мм</figcaption>
    </figure>

    <figure class="item col-sm-9">
        <a href="#"><img src="img/woman.jpg" class="img-responsive img-rounded" alt="Responsive image"></a>
        <figcaption class="text">Дамская коллекция: Джинсы MONTANA 10763 31-32 р Butter Yellow. Сумка Parfois 139748-BE полиуретан 40×30×12 см. Футболка Rip Curl GTEID4 M Popstar</figcaption>
    </figure>
</div>

<div class="row">
    <figure class="item col-sm-4">
        <a href="#"><img src="img/woman-watches.jpg" class="img-responsive img-rounded" alt="Responsive image"></a>
        <figcaption class="text">JACQUES LEMANS 1623ZD Япония. кварцевый; стрелочный; Водонепроницаемость: 100м; Диаметр корпуса: 37 мм</figcaption>
    </figure>

    <figure class="item col-sm-4">
        <a href="#"><img src="img/woman-bag.jpg" class="img-responsive img-rounded" alt="Responsive image"></a>
        <figcaption class="text">Parfois 140327-CA M. полиуретан 25.5×24×13.5 см</figcaption>
    </figure>

    <figure class="item col-sm-4">
        <a href="#"><img src="img/woman-hat.jpg" class="img-responsive img-rounded" alt="Responsive image"></a>
        <figcaption class="text">Eterno EH-43. Солома; Ширина полей: 7см; Обхват головы: 57см; Диаметр: 30см.</figcaption>
    </figure>
</div>

