<section class="eshop">
    <h2 class="title">С нашей помощью продают <a class="small dashed" href="buy.html">и покупают</a></h2>

    <div class="row">
        <div class="item col-sm-8">
            <a href="#"><img src="img/headphones.jpg" class="img-responsive img-rounded" alt="Responsive image"></a>

            <h3 class="lead">Kingston HyperX Cloud Revolver</h3>
            <small>Fisherman Sandal US 7.5</small>

            <div class="clear"></div>

            <strong class="price">48,99 $</strong>
            <small>на AliExpress</small>
        </div>

        <div class="item col-sm-4">
            <a href="#"><img src="img/guitar.jpg" class="img-responsive img-rounded" alt="Responsive image"></a>
            <h3 class="lead">Hohner HC06</h3>

            <div class="clear"></div>

            <strong class="price">290,99 $</strong>
            <small>на Amazon</small>
        </div>
    </div>


    <div class="row">
        <div class="item col-sm-6">
            <a href="#"><img src="img/flask.jpg" class="img-responsive img-rounded" alt="Responsive image"></a>

            <h3 class="lead">Фляга СССР</h3>
            <small>Алюминий + чехол; объем 0,8л; вес 146гр</small>

            <div class="clear"></div>

            <strong class="price">4,99 $</strong>
            <small>на Deshevshe.net</small>
        </div>

        <div class="item col-sm-6">
            <a href="#"><img src="img/pen.jpg" class="img-responsive img-rounded" alt="Responsive image"></a>

            <h3 class="lead">Parker Sonnet 08 Mono Chiselled</h3>
            <small>Chocolate GT BP. Чернильная; латунь; позолота</small>

            <div class="clear"></div>

            <strong class="price">60,46 $</strong>
            <small>на Rozetka</small>
        </div>
    </div>
</section>

