<section class="how-it-works">
    <h2 class="title">Как мы работаем</h2>

    <div class="row">
        <div class="col-md-12">
            <ol class="factoids">
                <li>Сначала вы оставляете заявку на сайте</li>
                <li>Менеджер позвонит и уточнит детали заказа</li>
                <li>Собираем описания и фото товаров</li>
                <li>Размещаем товары на площадках</li>
                <li>Создаем ваш личный кабинет на нашем сайте</li>
                <li>Еженедельно оповещаем вас о ходе продаж</li>
            </ol>

            <div class="cloud-wrap">
                <div class="svg cloud">
                    <p><strong class="title">150 грн</strong> стоит продление поддержки на 2 месяца. Иногда товары не продаются сразу</p>
                </div>
            </div>
        </div>
    </div>
</section>

