<section class="request">
    <h2 class="title">Отправить заявку</h2>

    <form class="form-horizontal" name="request" action="sale.html" method="post">
        <div class="form-group">
            <label for="frm-name" class="col-sm-3 control-label">Ваше имя</label>
            <div class="col-sm-9">
                <input type="text" name="name" id="frm-name" value="Константин Константинопольский" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="frm-email" class="col-sm-3 control-label">Почта</label>
            <div class="col-sm-9">
                <input type="email" name="email" id="frm-email" value="konstantin@konstantinople.ua" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="frm-tel" class="col-sm-3 control-label">Телефон</label>
            <div class="col-sm-9">
                <input type="tel" name="tel" id="frm-tel" value="063 123-45-67" class="form-control">
            </div>
        </div>

        <button class="btn main" type="submit">Отправить заявку</button>
    </form>
</section>

