<section class="works-with">
    <h2 class="title">С кем мы работаем</h2>

    <div class="row">
        <div class="col-xs-12">
            <table>
                <thead>
                <tr>
                    <td>Магазин</td>
                    <td>Выставлено</td>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td><a href="#">eBay</a> — описание магазина, его сильная сторона</td>
                    <td><i>150</i></td>
                </tr>
                <tr>
                    <td><a href="#">OLX</a> — описание магазина, его сильная сторона</td>
                    <td><i>126</i></td>
                </tr>
                <tr>
                    <td><a href="#">Aukro</a> — описание магазина, его сильная сторона</td>
                    <td><i>83</i></td>
                </tr>
                <tr>
                    <td><a href="#">Besplatka</a> — описание магазина, его сильная сторона</td>
                    <td><i>51</i></td>
                </tr>
                <tr>
                    <td><a href="#">Kidstaff</a> — описание магазина, его сильная сторона</td>
                    <td><i>150</i></td>
                </tr>
                <tr>
                    <td><a href="#">Ogolosha</a> — описание магазина, его сильная сторона</td>
                    <td><i>126</i></td>
                </tr>
                <tr>
                    <td><a href="#">Yuppi</a> — описание магазина, его сильная сторона</td>
                    <td><i>83</i></td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <br>
                        <p><a href="#">Еще XXX магазинов</a></p>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="cloud-wrap">
                <div class="svg cloud">
                    <p><strong class="title">12 дней</strong> в среднем продается мобильный телефон на OLX</p>
                </div>
            </div>

        </div>
    </div>
</section>

