<footer>
    <div class="item col-xs-12 col-sm-2 col-md-2">
        <a class="navbar-brand" href="index.html">Edor</a>
    </div>

    <div class="item col-xs-12 col-sm-4 col-md-4">
        <address>21018, Украина, г. Винница <br>ул. Соборная, 38, оф. 6 <br>e-amil: <a href="mailto:info@edor.com.ua">info@edor.com.ua</a></address>
    </div>

    <div class="item col-xs-12 col-sm-4 col-md-4">
        Web–money: Z060232637190 <br>UAH: 4149 6258 0800 1950 <br>Физ. лицо — Инна Бояльская
    </div>

    <div class="item col-xs-12 col-sm-2 col-md-2">
        <b>(0432) 492-62-63</b><br>
        097 207-75-49<br>
        093 023-08-15<br>
    </div>

    <div class="clearfix"></div>

    <ul class="list-inline social">
        <li><a href="#"><span class="ico-vkontakte"></span></a></li>
        <li><a href="#"><span class="ico-facebook"></span></a></li>
        <li><a href="#"><span class="ico-twitter"></span></a></li>
        <li><a href="#"><span class="ico-google"></span></a></li>
        <li><a href="#"><span class="ico-youtube"></span></a></li>
        <li><a href="#"><span class="ico-rss"></span></a></li>
    </ul>
</footer>


</div>


<script src="assets/js/jquery.min.js?ver=3.1.1"></script>
<script src="assets/js/app.min.js"></script>

</body>
</html>