<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>EDOR</title>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/theme.min.css">
</head>
<body>

<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-navigation" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Edor</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-navigation">
                <address class="nav navbar-nav navbar-right">
                    <a href="tel:+380977654321"><span class="ico-phone"></span> 097 765-43-21</a>
                    <a href="tel:+380631234567"><span class="ico-phone"></span> 063 123-45-67</a>
                </address>

                <ul class="nav navbar-nav">
                    <li><a href="buy.html">Покупка</a></li>
                    <li><a href="sale.html">Продажа</a></li>
                    <li><a href="goods.html">Товары</a></li>
                    <li><a href="about.html">О компании</a></li>
                    <li><a href="blog.html">Блог</a></li>
                </ul>

                <ul id="lng-switcher" class="nav navbar-nav lang">
                    <li><a data-lang="ru" href="#">Рус</a></li>
                    <li class="active"><a data-lang="ua" href="#">Укр</a></li>
                    <li><a data-lang="en" href="#">Eng</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>

<div class="container">
