<section class="about-author">
    <h2 class="hidden">Андрей Терещенко, учредитель EDOR</h2>

    <div class="row">
        <div class="block-text col-md-8">
            <blockquote>Я придумал EDOR как услугу для себя: я стал покупать расходники своим кафе в Китае и сэкономил столько, что смог нанять менеджера. Так и родилась идея</blockquote>
            <p class="small"><b>Андрей Терещенко</b>, учредитель EDOR</p>
        </div>

        <div class="block-image col-md-4">
            <img src="img/avatar2.jpg" class="img-responsive img-circle" alt="Андрей Терещенко учредитель EDOR">
            <div class="clearfix"></div>
        </div>
    </div>

</section>
