<section class="eshop">
    <h2 class="title text-center">С нашей помощью покупают <a class="small dashed" href="sale.html">и продают</a></h2>

    <div class="row">
        <div class="item col-sm-7">
            <a href="#">
                <img src="img/woman-shoe.jpg" class="img-responsive img-rounded"
                     alt="Responsive image">
            </a>

            <h4 class="lead">Teva Verra Women Turquoise</h4>
            <small>Fisherman Sandal US 7.5</small>

            <div class="clear"></div>

            <strong class="price">63,99 $</strong>
            <small>на AliExpress</small>
        </div>

        <div class="item col-sm-5">
            <a href="#">
                <img src="img/mans-watches.jpg" class="img-responsive img-rounded" alt="Responsive image">
            </a>

            <h4 class="lead">Casio F91W-1S Digital</h4>

            <div class="clear"></div>

            <strong class="price">800,99 $</strong>
            <small>на Deshevshe.net</small>
        </div>
    </div>

    <div class="row">
        <div class="item col-sm-6">
            <a href="#">
                <img src="img/macbook.jpg" class="img-responsive img-rounded" alt="Responsive image">
            </a>

            <h4 class="lead">Dell Inspiron 15 5547</h4>
            <small>Core i7-4510U, 8GB, 1TB, Win 8</small>

            <div class="clear"></div>

            <strong class="price">639,99 $</strong>
            <small>на Amazon</small>
        </div>

        <div class="item col-sm-6">
            <a href="#">
                <img src="img/backpack1.jpg" class="img-responsive img-rounded"
                     alt="Responsive image">
            </a>

            <h4 class="lead">Terra Incognita Master 30 Green</h4>
            <small>30.0000 л, для пешего и горного туризма</small>

            <div class="clear"></div>

            <strong class="price">50,46 $</strong>
            <small>на Rozetka</small>
        </div>
    </div>
</section>
