<section class="presentation boxes">
    <h1 class="title text-center">Поможем купить или продать любой товар без регистрации</h1>

    <div class="row">
        <figure class="col-sm-6">
            <img src="assets/img/boxes1.jpg" class="img-responsive" alt="Responsive image">
            <figcaption>
                <a href="buy.html">Купить</a>
                <strong>Найдем лучшее, закажем, проверим и доставимдом</strong>
            </figcaption>
        </figure>

        <figure class="col-sm-6">
            <img src="assets/img/boxes2.jpg" class="img-responsive" alt="Responsive image">
            <figcaption>
                <a href="sale.html">Продать</a>
                <strong>Разместим до пяти вещей на OLX и других интернет–площадках</strong>
            </figcaption>
        </figure>
    </div>
</section>
