<section class="presentation buy">
    <h1 class="title">Покупка</h1>
    <strong class="description">Поможем купить любой товар на зарубежных и отечественных интернет–магазинах и аукционах. Найдем и проверм продавца закажем товар и проверим по приезду</strong>

    <ul class="row factoids-pics">
        <li class="item col-sm-4">
            <svg class="centered"><use xlink:href="#svg-jewelery"></use></svg>
            <a href="#">Точный выбор</a>
            <strong>закажем товар по вашей ссылке без комиссии, доставим надом</strong>
        </li>

        <li class="item col-sm-4">
            <svg class="centered"><use xlink:href="#svg-search"></use></svg>
            <a href="#">Умный поиск</a>
            <strong>найдем товар с идеальным сочетанием цены и качества</strong>
        </li>

        <li class="item col-sm-4">
            <svg class="centered"><use xlink:href="#svg-rocket"></use></svg>
            <a href="#">Покупка премиум</a>
            <strong>найдем, доставим к вам домой, проверим, гарантируем работу</strong>
        </li>
    </ul>
</section>

