<section class="sale presentation">
    <h2 class="title">Продадим 5 товаров за 150 грн</h2>
    <strong class="description">Разместим любые товары на шести популярных украинских и мировых интернет–площадках, аукционах. Поддерживаем лоты два месяца</strong>

    <dl class="table-wrap">
        <dt><a class="btn main" href="#">Подать заявку</a></dt>
        <dd><i>Мы регистрируем товары на свой имейл, и пересылаем на ваш только предложения от заинтересованных лиц. Таким образом никто не узнает вашу почту</i></dd>
    </dl>

    <ul class="row text-center factoids-pics">
        <li class="item col-sm-4">
            <svg class="centered"><use xlink:href="#svg-clock"></use></svg>
            <h4>Сэкономим время</h4>
            <p>разместим ваши товары на шести площадках и барахолках</p>
        </li>

        <li class="item col-sm-4">
            <svg class="centered"><use xlink:href="#svg-document"></use></svg>
            <h4>Оформим за вас</h4>
            <p>у каждой площадки свои правила оформления заявок</p>
        </li>

        <li class="item col-sm-4">
            <svg class="centered"><use xlink:href="#svg-coin"></use></svg>
            <h4>Не надо магазина</h4>
            <p>будем выставлять и продвигать ваши товары в интернете </p>
        </li>
    </ul>
</section>

