/* BLOG PAGE STYLE */

#pg-blog aside:first-child {
  padding-right: 15px;
}
#pg-blog aside:last-child dt {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}
#pg-blog aside:last-child dd {
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#pg-blog aside:last-child dd a {
  display: inline-block;
  font-size: 16px;
  padding: 8px 0;
}
#pg-blog aside:last-child form {
  position: relative;
  margin-bottom: 30px;
}
#pg-blog aside:last-child form input[type='text'] {
  padding: 5px 0;
  width: 100%;
  min-height: 36px;
  text-indent: 36px;
  font-size: 16px;
  border-color: #cecece;
}
#pg-blog aside:last-child #btn-search .ico-search {
  position: absolute;
  top: 4px;
  font-size: 28px;
}
#pg-blog aside:last-child #btn-search {
  padding: 0;
  border: 0;
  outline: 0;
  background: none;
}
#pg-blog article> h2,
#pg-blog article> img+h2 {
  font-size: 28px;
}
#pg-blog article+article {
  margin-top: 60px;
}
#pg-blog article img {
  max-height: 450px;
}
#pg-blog article p {
  font-size: 17px;
  line-height: 26px;
}
#pg-blog article .list-inline {
  font-size: 14px;
  line-height: 30px;
  color: #989898;
}
#pg-blog article .list-inline li a {
  color: #989898;
  text-decoration: none;
}
#pg-blog article .list-inline [class^="ico-"] {
  position: relative;
  top: 4px;
  font-size: 21px;
}
#pg-blog article .list-inline li:nth-child(3) {
  margin-left: 30px;
}
#pg-blog article .list-inline li+li:nth-child(n+3) {
  margin-left: 20px;
  padding: 0;
}
#pg-blog aside {
  margin-bottom: 100px;
}

