<section class="additional">
    <h2 class="title"><span>Доп</span><span class="hidden-xxs">олнительные</span> услуги</h2>

    <ul class="row factoids-pics">
        <li class="item col-sm-6 col-md-3">
            <svg><use xlink:href="#svg-truck"></use></svg>
            <p><strong class="lead">Доставим в офис</strong> и сохраним до вашего приезда за 30 грн</p>
        </li>

        <li class="item col-sm-6 col-md-3">
            <svg><use xlink:href="#svg-motorbike"></use></svg>
            <p><strong class="lead">Привезем к вам домой</strong> как только приедет посылка</p>
        </li>

        <li class="item col-sm-6 col-md-3">
            <svg><use xlink:href="#svg-cog"></use></svg>
            <p><strong class="lead">Проверим устройство</strong> в отделении службы доставки за 50 грн</p>
        </li>

        <li class="item col-sm-6 col-md-3">
            <svg><use xlink:href="#svg-dialog"></use></svg>
            <p><strong class="lead">Откроем спор</strong> на Алиэкспресс если не доставили в срок</p>
        </li>
    </ul>
</section>


