<section class="dealers">
    <h2 class="title">С кем мы работаем</h2>

    <table>
        <thead>

        <tr>
            <td>Регион</td>
            <td>Магазин</td>
            <td>Заказы</td>
            <td>Жалобы</td>
        </tr>

        </thead>
        <tbody>

        <tr>
            <td><b>ЕС и США</b></td>
            <td><a href="#">eBay</a> — крупнейший интернет–аукцион</td>
            <td><i>150</i></td>
            <td>5</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><a href="#">Amazon</a> — один из топовых онлайн–магазинов</td>
            <td><i>126</i></td>
            <td>1</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><a href="#">Xappos</a> — крупнейший магазин обуви</td>
            <td><i>83</i></td>
            <td>—</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><a href="#">OfficeDepot</a> — офисные товары</td>
            <td><i>51</i></td>
            <td>2</td>
        </tr>

        <tr>
            <td colspan="4">&nbsp;</td>
        </tr>

        <tr>
            <td><b>Азия</b></td>
            <td><a href="#">AliExpress</a> — крупнейший интернет–аукцион Китая</td>
            <td><i>532</i></td>
            <td>12</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><a href="#">TaoBao</a> — огромный интернет–магазин</td>
            <td><i>123</i></td>
            <td>3</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><a href="#">DealExtreme</a> — еще что-то из Китая</td>
            <td><i>84</i></td>
            <td>—</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><a href="#">TMart</a> — еще один магазин</td>
            <td><i>12</i></td>
            <td>—</td>
        </tr>

        <tr>
            <td colspan="4">&nbsp;</td>
        </tr>

        <tr>
            <td><b>Россия</b></td>
            <td><a href="#">Avito</a> — крупнейший интернет-аукцион России</td>
            <td><i>34</i></td>
            <td>—</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><a href="#">YandexMarket</a> — агрегатор магазинов</td>
            <td><i>28</i></td>
            <td>1</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><a href="#">Lamoda</a> — крупный магазин одежды</td>
            <td><i>43</i></td>
            <td>—</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><a href="#">Юлмарт</a> — универсальные магазины</td>
            <td><i>16</i></td>
            <td>—</td>
        </tr>

        <tr>
            <td colspan="4">&nbsp;</td>
        </tr>

        <tr>
            <td><b>Украина</b></td>
            <td><a href="#">Rozetka</a> — все знают розетку</td>
            <td><i>24</i></td>
            <td>3</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><a href="#">OLX</a> — барахолка</td>
            <td><i>4</i></td>
            <td>2</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><a href="#">Prom</a> — магазины производителей</td>
            <td><i>13</i></td>
            <td>—</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><a href="#">Dodosocks</a> — веселые носочки</td>
            <td><i>25</i></td>
            <td>1</td>
        </tr>

        </tbody>
    </table>
</section>

