<section class="eshop">
    <h2>С нашей помощью покупают <a href="sale.html">и продают</a></h2>

    <div class="row">
        <div class="col-sm-7">
            <a href="#">
                <img src="img/woman-shoe.jpg" class="img-responsive img-rounded"
                     alt="Responsive image">
            </a>

            <div class="pull-left">
                <h3>Teva Verra Women Turquoise</h3>
                <small>Fisherman Sandal US 7.5</small>
            </div>
            <div class="pull-right">
                <strong>63,99 $</strong>
                <small>на AliExpress</small>
            </div>

            <div class="clearfix"></div>
        </div>

        <div class="col-sm-5">
            <a href="#">
                <img src="img/mans-watches.jpg" class="img-responsive img-rounded" alt="Responsive image">
            </a>
            <h3>Casio F91W-1S Digital</h3>
            <strong>800,99 $</strong>
            <small>на Deshevshe.net</small>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <a href="#">
                <img src="img/macbook.jpg" class="img-responsive img-rounded" alt="Responsive image">
            </a>
            <div class="pull-left">
                <h3>Dell Inspiron 15 5547</h3>
                <small>Core i7-4510U, 8GB, 1TB, Win 8</small>
            </div>
            <div class="pull-right">
                <strong>639,99 $</strong>
                <small>на Amazon</small>
            </div>

            <div class="clearfix"></div>
        </div>

        <div class="col-sm-6">
            <a href="#">
                <img src="img/backpack1.jpg" class="img-responsive img-rounded"
                     alt="Responsive image">
            </a>

            <h3>Terra Incognita Master 30 Green</h3>
            <small>30.0000 л, для пешего и горного туризма</small>

            <strong>50,46 $</strong>
            <small>на Rozetka</small>
        </div>
    </div>
</section>


