<section class="exact-choice">
    <img class="illustration" src="assets/img/svg/exact-choice.svg" alt="EDOR exact choice">

    <h2 class="title">Точный выбор</h2>
    <strong class="description">Покупаем конкретный лот по вашей ссылке за 2 часа, с момента принятия заявки. Без комиссии</strong>
    <div class="row">
        <div class="col-md-8">
            <ol class="factoids">
                <li>Сначала вы оставляете заявку и ссылку на товар</li>
                <li>Менеджер позвонит и уточнит детали заказа</li>
                <li>Оплачиваете полную стоимость товара в гривне</li>
                <li>Мы закажем товар и оповестим о доставке</li>
            </ol>
            <p><a class="small" href="#">Список магазинов, для которых доступна услуга</a></p>

            <div class="clearfix"></div><br>
        </div>

        <div class="col-md-4">
            <p><a class="btn main transform-xs-large" href="#">Заказать</a></p>
            <dl class="small">
                <dt>Предоплата в гривне по курсу:</dt>
                <dd><small><b>1$ = 25,75</b> грн &nbsp; <b>1¥ = 8,35</b> грн</small></dd>
                <dd><small><b>1€ = 30,50</b> грн &nbsp; <b>1₽ = 0,38</b> грн</small></dd>
            </dl>
        </div>
    </div>
</section>

