<section class="news">
    <h2>Новости, статьи и обзоры</h2>

    <div class="row">
        <article class="col-sm-12 col-md-6">
            <a href="#">
                <img src="img/mouse.jpg" class="img-responsive img-rounded"
                     alt="Responsive image">
            </a>
            <small>18 июня 2016 г</small>
            <a href="#">Мышка для тру геймеров</a>
            <p>Coguar 700M не скользит благодаря рельефу пластика, а 15 мини–кнопок помогают макросить</p>
        </article>

        <article class="col-sm-6 col-md-3">
            <a href="#">
                <img src="img/fight.jpg" class="img-responsive img-rounded"
                     alt="Responsive image">
            </a>
            <small>24 марта 2016 г</small>
            <a href="#">Война между Microsoft и Apple не заканчивается</a>
            <p>Компания Microsoft переплюнула знаменитый ноутбук от Apple выпустив свой первый ноутбук Surface
                Book</p>
        </article>

        <article class="col-sm-6 col-md-3">
            <a href="#">
                <img src="img/tablet.jpg" class="img-responsive img-rounded"
                     alt="Responsive image">
            </a>
            <small>28 марта 2016 г</small>
            <a href="#">Мультимедийный центр прям у Вас на столе когда Вы пьёте свой кофе</a>
            <p>Бесконтактная технологическая новинка дает возможность управлять столом</p>
        </article>
    </div>
</section>

