<section class="smart-search">
    <img class="illustration" src="assets/img/svg/smart-search.svg" alt="EDOR smart search">
    <h2 class="title">Умный поиск</h2>
    <strong class="description">Ищем лучшее предложение по вашим запросам. Экономим время, нервы и как правило деньги</strong>
    <div class="row">
        <div class="col-md-8">
            <ol class="factoids">
                <li>Сначала вы оставляете заявку и ссылку на товар</li>
                <li>Менеджер позвонит и уточнит детали заказа</li>
                <li>Мы находим за сутки первичное предложение</li>
                <li>Оплачиваете полную стоимость товара в гривне</li>
                <li>Мы закажем товар и оповестим о доставке</li>
            </ol>

            <div class="clearfix"></div><br>
        </div>

        <div class="col-md-4">
            <p><a class="btn main transform-xs-large" href="#">Заказать</a></p>
            <p class="small">Комиссия зависит от цены товара: Чем больше сумма, тем меньше процент. <a href="#">Смотреть прайс</a></p>
        </div>
    </div>
</section>

